/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f4f6;
    color: #111827;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* ==== NAVIGATION BAR ==== */
.navbar {
    background: #2563eb;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: #ffffff;
}

.nav-links a {
    color: #e0e7ff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* ==== PAGE HEADER ==== */
.header {
    text-align: center;
    font-size: 26px;
    padding: 20px;
    font-weight: bold;
    color: #2563eb;
}

/* ==== FORM CONTAINER ==== */
.container {
    max-width: 550px;
    margin: 30px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.container ul{
    display: none;
}
.container span{
   font-size: 12px;
   color: #1e40af;
   padding:20px;
   margin-bottom: 10px;
   
}
.helptext{
   padding:20px;
   margin-bottom: 10px;
}
.container label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #94a3b8;
    border-radius: 6px;
}

.container button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #2563eb;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.container button:hover {
    background: #1e40af;
}

/* ==== FOOTER ==== */
.footer {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background: #1f2937;
    color: #d1d5db;
    position:absolute;
    bottom: 0px;
    right: 0px;
    left:0px;
}

.footer a {
    color: #93c5fd;
    text-decoration: underline;
}
