* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f4f6;
    color: #111827;
}

.header {
    background: #2563eb;
    padding: 30px;
    text-align: center;
    color: white;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    display: grid;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.btn {
    padding: 10px 18px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #2563eb;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background: #1e40af;
}

.btn-outline {
    background: transparent;
    border: 2px solid #2563eb;
    color: #2563eb;
}

.btn-outline:hover {
    background: #2563eb;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 50px;
     padding: 15px; 
    text-align: center;
    background: #1f2937;
    color: #d1d5db;
}
