{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alex Network</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <h1>Welcome to Django Alex Network</h1>
        <p>Powered by Modern Education & Technology</p>
    </header>
    <nav class="navbar">
        <h2>My Website</h2>
        <div class="nav-links">
            <a href="{% url 'accounts:home' %}">Home</a>
            <a href="{% url 'accounts:about' %}">About</a>
            <a href="{% url 'accounts:contact' %}">Contact</a>

            {% if user.is_authenticated %}

            <a href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'accounts:' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <main class="container">
        <section class="card">
            <p>This is your home page. Your journey starts here!</p>
        </section>

        <section class="card">
            <a href="{% url 'accounts:login' %}" class="btn">Login</a>
            <a href="{% url 'accounts:register' %}" class="btn btn-outline">Register</a>
        </section>
    </main>

    <footer class="footer">
        <p>© 2025 Django Alex Network — All Rights Reserved.</p>
    </footer>

</body>

</html>